.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
public/img/companies/*
public/img/promos_orig/*
public/img/promos_big/*
public/img/promos_small/*
public/img/promos_medium/*
public/img/owners/*
public/img/users/*
public/img/companies_orig/*
public/img/companies/*
public/img/companies_small/*

